{% extends "base.html" %}

{% block container %}

<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Emri</th>
                <th scope="col">Mbiemri</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Telefon</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <a href="{% url 'user-update' user.pk %}" class="text-indigo-600 hover:text-indigo-900">
                        Update
                    </a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <a href="{% url 'user-delete' user.pk %}" class="text-indigo-600 hover:text-indigo-900">
                            Delete
                        </a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if is_paginated %}
    {% include "pagination.html" %}
{% endif %}

{% endblock %}
